<a href="https://colab.research.google.com/github/cate6495/DataSets/blob/main/Untitled34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"catherinesanda","key":"6697aa8a46baf140938f9bcc983f20b8"}'}

In [3]:
! mkdir ~/.kaggle

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle datasets download -d vldmrweider/ethereum-balances

Downloading ethereum-balances.zip to /content
100% 1.13G/1.13G [00:11<00:00, 77.1MB/s]
100% 1.13G/1.13G [00:11<00:00, 106MB/s]

In [7]:
from zipfile import ZipFile
file_name="ethereum-balances.zip"
with ZipFile (file_name,'r')as zip:
  zip.extractall()
  print('Done')

Done

In [8]:
!pip  install dask[dataframe]

Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.7/dist-packages (2.12.0)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Collecting fsspec>=0.6.0
  Downloading fsspec-2021.7.0-py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 10.1 MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.1.5)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (0.11.1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[dataframe]) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[dataframe]) (2.8.2)
Collecting locket
  Downloading locket-0.2.1-py2.py3-none-any.whl (4.1 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->dask[dataframe]) (1.15.0)
Installing collected packages: locket, partd, fsspec
Successfully installed fsspec-2021.7.0 locket-0.2.1 partd-1.2.0

In [9]:
import time

In [10]:
import dask.dataframe as dd
s=time.time()
df1=dd.read_csv("all_eth_balances.csv")
e=time.time()
print("Dask Loading Time={}".format(e-s))

Dask Loading Time=0.022913455963134766

In [11]:
df1.head(5)

                                     account;balance
0  0x0000000000000000000000000000000000000000;0x1...
1  0x0000000000000000000000000000000000000001;0x2...
2  0x0000000000000000000000000000000000000002;0x2...
3  0x0000000000000000000000000000000000000003;0x2...
4  0x0000000000000000000000000000000000000004;0x4...

In [12]:
import pandas as pd

In [13]:
ChunkSize = 1000000
for chunk in pd.read_csv("all_eth_balances.csv",chunksize=ChunkSize):
  print(chunk.shape)
  print("="*100)
  print(chunk.head(5))
  print("="*100)
  break

(1000000, 1)
====================================================================================================
                                     account;balance
0  0x0000000000000000000000000000000000000000;0x1...
1  0x0000000000000000000000000000000000000001;0x2...
2  0x0000000000000000000000000000000000000002;0x2...
3  0x0000000000000000000000000000000000000003;0x2...
4  0x0000000000000000000000000000000000000004;0x4...
====================================================================================================

In [14]:
%%writefile testutility.py
import logging 
import os
import subprocess
import yaml
import pandas as pd
import datetime
import gc
import re

def read_config_file(file_name):
  with open(file_name,'r')as stream:
    try:
      return yaml.safe_load(stream)
    except yaml.YAMLError as exc:
      logging.error(exc)

def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string) 
    return string


def col_header_val(df,table_config):
  
  df.columns = df.columns.str.lower()
  df.columns = df.columns.str.replace('[^\w]','_',regex=True)
  df.columns = list(map(lambda x: x.strip('_'), list(df.columns)))
  df.columns = list(map(lambda x: replacer(x,'_'), list(df.columns)))
  expected_col = list(map(lambda x: x.lower(), table_config['columns']))
  expected_col.sort()
  df.columns = list(map(lambda x : x.lower(),list(df.columns)))
  df = df.reindex(sorted(df.columns), axis=1)
  if len(df.columns) == len(expected_col) and list(expected_col) == list(df.columns):
    print("column name and column length validation passed")
    return 1
  else:
    print("column name and column length validaton failed")
    mismatched_columns_file = list(set(df.columns).difference(expected_col))
    print("Following File columns are not in the Yaml file", mismatched_columns_file)
    missing_Yaml_file = list(set(expected_col).difference(df.columns))
    print("Following Yaml columns are not in the file uploaded", missing_Yaml_file)
    logging.info(f'df columns:{df.columns}')
    logging.info(f'expected columns:{expected_col}')
    return 0

Writing testutility.py

In [15]:
%%writefile yamlfile.yaml
file_type: csv
dataset_name: testfile
file_name: all_eth_balances
table_name: edsurv
inbound_delimiter: ";"
outbound_delimiter: "|"
skip_leading_rows: 1
columns:
     - account
     - balance

Writing yamlfile.yaml

In [16]:
import testutility as util
config_data = util.read_config_file("yamlfile.yaml")

In [17]:
config_data

{'columns': ['account', 'balance'],
 'dataset_name': 'testfile',
 'file_name': 'all_eth_balances',
 'file_type': 'csv',
 'inbound_delimiter': ';',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'table_name': 'edsurv'}

In [18]:
file_type = config_data['file_type']
source_file = "./"+config_data['file_name'] + f'.{file_type}'
df = pd.read_csv(source_file,config_data['inbound_delimiter'])
df.head()

                                      account                balance
0  0x0000000000000000000000000000000000000000  0x19ea9837680860b830d
1  0x0000000000000000000000000000000000000001     0x20da79dfad9014b9
2  0x0000000000000000000000000000000000000002      0x2619639a1890820
3  0x0000000000000000000000000000000000000003      0x2a596306c84ef7a
4  0x0000000000000000000000000000000000000004      0x404980177e599dd

In [19]:
config_data['inbound_delimiter']

';'

In [20]:
#validate the header of the file
util.col_header_val(df,config_data)

column name and column length validation passed

1

In [21]:
print("columns of files are:",df.columns)
print("columns of Yaml  are:", config_data['columns'])

columns of files are: Index(['account', 'balance'], dtype='object')
columns of Yaml  are: ['account', 'balance']

In [22]:
if util.col_header_val(df,config_data)==0:
    print("validation failed")
    # write code to reject the file
else:
    print("col validation passed")
    # write the code to perform further action
    # in the pipeline

column name and column length validation passed
col validation passed

In [23]:
import csv

In [24]:
reader=csv.reader(open("all_eth_balances.csv","rU"), delimiter=';')
writer=csv.writer(open("etherium_balances.txt",'w'),delimiter='|')
writer.writerows(reader)
print('Delimiter successfully changed')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: 'U' mode is deprecated
  """Entry point for launching an IPython kernel.

Delimiter successfully changed

In [25]:
import gzip
import shutil
with open('etherium_balances.txt','rb')as f_in:
  with gzip.open('etherium_balances.txt.gz','wb')as f_out:
    shutil.copyfileobj(f_in, f_out)

In [26]:
print('Number of columns:',len(df.columns))

Number of columns: 2

In [27]:
print('Number of rows:',len(df))

Number of rows: 46636596

In [28]:
import os
size = os.path.getsize('all_eth_balances.csv')
print(size)

2461359518